body{
    background-color: black;
}

.wrapper{
    display:flex;
    position: absolute;
    width: 800px;
    height: 600px;
    background-image: url(imgs/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#player{
    height: 50px;
    width: 50px;
}

button{
    width: 200px;
    height: 100px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    background-image: url(imgs/button.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    font-size: 30px;
}

button:hover{
    background-color: darkblue;
}

.btn1{
    top: 400px;
    left: 100px;
}
.btn2{
    top: 400px;
    left: 500px;
}
.btn3{
    top: 400px;
    left: 300px;
}

#container{
    display:flex;
    position: absolute;
    width: 800px;
    height: 600px;
    border-style: solid;
    border-color: #3ab6f2;
    background-image: url(imgs/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    width: 600px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 100px;
}

p{
    font-size: 50px;
    text-align: center;
    color: #3ab6f2;
    position: absolute;
}

#credits{
    top: 50px;
    left: 100px;
}

#score{
    top: -50px;
    left: 10px;
}
